{% extends "base.html" %}
{% load static tailwind_tags %}
{% block content %}
<body class="bg-[#fefcf5]  dark:bg-[#27354c] shadow-lg">
    <form method="POST" enctype="multipart/form-data" action="{% url 'dragfile' %}">
        {% csrf_token %}
        <div class="bg-[#fefcf5]  dark:bg-[#27354c] shadow-lg rounded-lg p-5">
            <div class="grid grid-cols-5 gap-1 min-h-fit min-w-fit">
                <!-- File Upload Area -->
                <div class="col-span-4 flex items-center justify-center min-w-fit m-10">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-60 border-2 border-dashed rounded-lg bg-[#fefcf5]  dark:bg-[#27354c] dark:border-black">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-[#024AAD] dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                            </svg>
                            <p class="mb-2 text-sm text-[#024AAD] dark:text-white"><span class="font-semibold">Click to upload</span></p>
                            <p class="text-xs text-[#024AAD] dark:text-white"> .pdf (MAX. 2.5mb)</p>
                        </div>
                        <input id="dropzone-file" name="dropzone-file" type="file" class="hidden" />
                        <span id="file-name" class="text-xs text-[#024AAD] dark:text-white"></span>
                    </label>
                </div>

                <!-- Submit Button Area -->
                <div class="col-4 flex flex-col items-center justify-center m-auto">
                    <button type="submit" class="px-16 mb-4 text-lg shadow-lg btn  mr-3 font-semibold focus:outline-none rounded-full bg-[#f3b41c] border-none text-white hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-slate-900  dark:text-white  dark:hover:text-white dark:hover:bg-gray-700">
                        Quiz Up!
                    </button>
                    <a href="{% url 'generatedquiz' %}" class="btn text-sm shadow-lg  mr-3 font-semibold focus:outline-none rounded-full bg-[#f3b41c] border-none text-white hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-slate-900  dark:text-white  dark:hover:text-white dark:hover:bg-gray-700">
                        Take Quiz
                    </a>
                </div>
            </div>
        </div>
    </form>

    <script>

        document.getElementById('dropzone-file').addEventListener('change', function() {
            var fileName = this.files[0].name;
            document.getElementById('file-name').textContent = fileName;
        });
    </script>

{%endblock%}