{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<link href="{% static '/quiz_up_app/css/landing.css' %}" rel="stylesheet" />
<meta name="viewport" content="width=device-width, height=device-height,
initial-scale=1.0" />
<title>Quiz UP</title>
</head>
<body>
<div class="navbar" id="myNavbar">
<div class="logoMain">
<a href="/browse/"><img src="{% static 'quiz_up_app/img/quizUPLOGO.png' %}"
width="100"/></a>
</div>
</div>
<div class="container-body">
<div class="logo1">
<img src="{% static 'quiz_up_app/img/quizUPLOGO.png' %}" alt="Logo" width="100"
/>
</div>
<div class="tagline">
<h1>Learn Smarter, Succeed Faster</h1>
</div>
<div class="desc">
<h2>
</h2>
</div>
<div class="buttons">
<a  id="start-button" class="startnow" href="#">Start Now</a>
</div>
</div>
<div id="popup-container" class="overlay"></div>
<footer class="footer">
<div class="footer-container">
<div class="footer-copyright">
<p>Copyright &copy; 2024</p>
</div>
</div>
</footer>
</body>
</html>
<script src="{% static '/quiz_up_app/js/landing.js' %}"></script>     