{% extends "base.html" %}
{% load static tailwind_tags %}
{% block content %}

<div class="bg-[#fefcf5] dark:bg-[#27354c] p-5 shadow-lg rounded-lg"> 
    <div class="flex flex-col items-start justify-start  p-10 rounded-lg border-[#EBE6EC] bg-[#fefcf5] dark:bg-[#27354c] dark:border-[#1e293b] dark:text-white m-10 text-[#000000]"> 
        <h2 class="text-lg font-semibold mb-4">Quiz Analysis:</h2>
        
        {% if analysis %}
            {% for item in analysis %}
            <div class="mb-6">
                <h3 class="text-md font-bold">{{ item.document_title }}</h3>
                <p>
                    You answered {{ item.correct }} out of {{ item.total }} questions correctly.<br>
                    Percentage: {{ item.percentage }}%<br>
                    Feedback: {{ item.feedback }}
                </p>
            </div>
            {% endfor %}
        {% else %}
            <p>No analysis data available.</p>
        {% endif %}
        
        <div class="mt-8">
            <a href="{% url 'dragfile' %}" class="btn text-sm shadow-lg  mr-3 font-semibold focus:outline-none rounded-full bg-[#f3b41c] border-none text-white hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-slate-900  dark:text-white  dark:hover:text-white dark:hover:bg-gray-700">Return to Main Page</a>
            <a href="{% url 'generatedquiz' %}" class="btn text-sm shadow-lg font-semibold focus:outline-none rounded-full bg-[#f3b41c] border-none text-white hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-slate-900  dark:text-white  dark:hover:text-white dark:hover:bg-gray-700">Take Quiz Again</a> 
        </div>
    </div>
</div>

{%endblock%}