{% load static %}

<link href="{% static 'quiz_up_app/css/signin.css' %}" rel="stylesheet" />

<div class="wrap">
    <span class="closebutton" onclick="closeSignIn()" title="Close">&#215;</span>
    <center>
        <img src="{% static 'quiz_up_app/img/quizUPLOGO.png' %}" alt="Logo" width="100">
        <h1>Sign In</h1>
    </center>
    <form action="{% url 'signin' %}" method="POST">
        {% csrf_token %}
        <label for="username">Email/Username</label>
        <input type="text" placeholder="Enter Email or Username" name="username" required>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <input type="submit" value="Sign in">
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <label for="donthaveacc">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></label>
    </form>
</div>
<script src="{% static 'quiz_up_app/js/signin.js' %}"></script>
